body {
    font-family: 'Karla', sans-serif;
}

div#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid lightgray; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    justify-self: center;
    margin-top: 40px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .tooltip {

  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #F5EFE2;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .tooltip .tooltiptext p{
    margin: 0px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

body.normal {
    height: 165.73px;
    width: 331.47px;
}

body.more {
    display: flex;
    flex-direction: column;
    width: 331.47px;
    margin-bottom: 30px;
}
div#rated {
    display: none;
}

div#unrated {
    flex: 1;
    display: none;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

div#moreContent {
    display: none;
}

button#submit {
    margin-top: 50px;
    margin-bottom: 30px;
}
input {
    padding: 5px;
    margin-bottom: 10px;
}

input[type="text"] {
    font-size: 12px;
}

button:focus {
    outline: transparent;
}

button#show-more {
    margin-top: 25px;
    background-color: transparent;
    border: transparent;
}
h1 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 16.25px;
}

h2 {
    margin-left: 30px;
    font-size: 12.88px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 7px;
}

img#rating {
    max-width: 250px;
    max-height: 100px;
}

img#caret {
    max-width: 30px;
    max-height: 30px;
    height: 16px;
    width: 30px;
}

div.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
}

div.tagBox ul{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style: none;
    padding-left: 0;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}


div.tagBox ul li {
    font-size: 9.66px;
    font-family: ;
    display: inline;
    margin-right: 10px;
    margin-bottom: 7px;
    margin-left: 0;
    padding: 5px;
}

div.tagBox ul li.good {
    background-color: #94B78F;
}

div.tagBox ul li.bad {
    background-color: #FFA3A3;
}

li.bad img {
    margin-bottom: 2px;
}

button.link-button {
    font-size: 12px;
    background-color: #F5EFE2;
    border-radius: 74.04px;
    border-width: 1px;
    font-weight: normal;
    border-style: solid;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: none;
}

div.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
div.buttonContainer button{
    margin-right: 10px;
}

div#alternatives {
    display: none;
    flex-direction: column;
}

div.reccommendationContainer {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

a#clearbit-logo {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    color: black;
    text-decoration: none;
}

img#brandLogo {
    max-width: 50px;
    max-height: 50px;
    margin-right: 30px;
    justify-self: center;
    vertical-align: middle;
}

div.rightItem p{
    font-size: 15px;
    margin-bottom: 5px;
}

div.leftItem {
    justify-self: center;
    margin-top: 10px;
}

div.back-Title {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

button#backArrow {
    background-color: transparent;
    border: transparent;
}

button#backArrow img{
    max-height: 15px;
    max-width: 15px;
}

button#closeButton {
    background-color: transparent;
    border: transparent;
    float: right;
}

button#closeButton img{
    max-height: 15px;
    max-width: 15px;
}

button#closeButton2 {
    background-color: transparent;
    border: transparent;
    float: right;
}

button#closeButton2 img{
    max-height: 15px;
    max-width: 15px;
}


img#info-blurb {
    margin-top: 7px;
    max-height: 12.81px;
    max-width: 12.81px;
    justify-self: center;
    padding-left: 5px;
    align-self: center;
    text-align: center;
}

.tag-header {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 0px;
}

#tag-img {
    max-width: 7px;
    max-height: 7px;
    padding-right: 7px;
    vertical-align: baseline;
}